#fullpage{
	height: 100%;
	width: 100%;

	.section{
		height: 100%;
		width: 100%;
		display: table;
		padding: 10px;

		.content{
			display: table-cell;
			vertical-align: middle;
		}

		&.section1{
			background: url('../images/section1-background.jpeg');
			background-size: 20%;

			h1{
				background: url('../images/section1-mainLogo.png') no-repeat;
				background-size: 90% auto;
				background-position: -2% center;
				height: 150px;
				width: 100%;
				margin-bottom: 0;
			}

			p{
				text-align: center;
				color: $white;
				font-weight: bold;
			}

			.arrow{
				position: absolute;
				bottom: 2%;
				left: 50%;
				margin-left: -15px;
				color: $white;
			}
		}
	}
}