/**
 * _settings.color.scss
 *
 * Your color palette should sit here and always follow the same namespace:
 * `$color-`
 */
$color-background: #F5FAFA;
$color-foreground: #151515;


$color-heading: #000044;
$grey-background: #003366;
$color-font: #003366;
$millenialsYellow: #FFFB7F;
$millenialsBlue: #3399CC;
$transparentGrey: rgba(49, 49, 50, 0.6);
$instagram: #436E98;
$twitter: #38A4E9;
$facebook: #21407A;
$pr: #007D88;

$mainBlueLight: #0A6E9B;
$white: #ffffff;