/**
 * _settings.typography.scss
 *
 * You can override any typography inuitcss settings here.
 * For example, if you want to change the size of the h1 heading:
 *
 * $inuit-heading-size-1: 48px;
 *
 * Read more avaiable properties:
 * https://github.com/inuitcss/base.headings/blob/master/_base.headings.scss
 */

 
$font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary: Georgia, serif;
$font-header: "Signika-Bold";
$font-content: "Signika-Regular";

$font-size: 16px;
$font-line-height: 24px;

@font-face {
  font-family: $font-header;
  src: url("../fonts/Signika-Bold.eot");
  src: url("../fonts/Signika-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Signika-Bold.woff2") format("woff2"), url("../fonts/Signika-Bold.woff") format("woff"), url("../fonts/Signika-Bold.ttf") format("truetype"), url("../fonts/Signika-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $font-content;
  src: url("../fonts/Signika-Regular.eot");
  src: url("../fonts/Signika-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Signika-Regular.woff2") format("woff2"), url("../fonts/Signika-Regular.woff") format("woff"), url("../fonts/Signika-Regular.ttf") format("truetype"), url("../fonts/Signika-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3, p,ul,li{
	padding: 0;
	margin: 0;
}