/**
 * @module:   nav
 * @js:       ./source/js/module/nav/nav.js
 * @html:     ./source/js/module/nav/nav.html
 */


.nav{
	background-color: $grey-background;
	height: 40px;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;


	ul{
		float: right;
		text-align: right;
		padding: 0;
		margin: 0;
		display: table;
		vertical-align: top;
		width: 90%;
		height: 100%;
		margin-right: 5%;
		margin-left: 5%;


		.nav-logo{
			background: url('../images/navLogo.png') no-repeat;
			background-size: 100%;
			background-position: center;
			display: table-cell;
			height: 40px;
			padding: 5px;
			width: 60px;
			float: left;
			vertical-align: middle;
		}

		li{
			color: $white;
			display: table-cell;
			font-weight: bold;
			text-decoration: none;
			padding: 10px 5px;
			text-transform: uppercase;
			vertical-align: middle;

		}
	}
}


@media screen and (min-width: 550px){
	.nav{
		height: 70px;

		ul{
			.nav-logo{

				background-size: 100% auto;
				height: 70px;
				width: 100px;
			}

			li{
				width: 150px;
				padding-right: 15px;
			}
		}
	}
}


@include module("nav") {
}
