/**
 * @module:   nav
 * @js:       ./source/js/module/nav/nav.js
 * @html:     ./source/js/module/nav/nav.html
 */


.nav{
	background-color: $transparentGrey;
	height: 40px;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	border-bottom: 1px solid $grey-background;

	.nav-logo{
		background: url('../images/navLogo.png') no-repeat;
		background-size: 100%;
		background-position: center;
		display: inline-block;
		height: 40px;
		padding: 5px;
		width: 60px;
		float: left;
		vertical-align: middle;
	}

	ul{
		display: inline-block;
		float: right;
		text-align: right;
		padding: 0;
		margin: 0;
		vertical-align: top;
		width: auto;
		height: 100%;
		margin-right: 2%;
		margin-left: 2%;

		li{
				list-style: none;
				display: inline-block;
				padding: 10px 5px;

				a{
					width: auto;
					text-decoration: none;
					color: $white;
					text-transform: uppercase;
					// font-weight: bold;
					font-family: $font-header;
				}

		}
	}
}


@media screen and (min-width: 550px){
	.nav{
		height: 60px;

		.nav-logo{
			margin-left: 15px;
			background-size: 100% auto;
			height: 60px;
			width: 100px;
		}

		ul{
			margin-right: 15px;
			margin-left: 15px;;
			li{
				margin-top: 8px;
				width: 100px;
				padding-right: 15px;

				a{
					margin-top: 10px;
					font-size: 16px;
				}
			}
		}
	}
}


@include module("nav") {
}
