/**
 * @module:   nav
 * @js:       ./source/js/module/nav/nav.js
 * @html:     ./source/js/module/nav/nav.html
 */


@include module("nav") { 
  // :)

	.nav{
		background-color: $mainBlueLight;
		height: 40px;
		margin: 0;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;

		.nav-logo{
			background: url('../images/navLogo.png') no-repeat;
			background-size: 100%;
			background-position: center;
			height: 40px;
			width: 60px;
			display: inline-block;
			padding: 5px;
		}

		ul{
			float: right;
			text-align: right;
			padding: 0;
			margin: 0;
			display: inline-block;
			vertical-align: top;
			width: auto;


			li{
				display: inline-block;
				width: auto;
				text-decoration: none;
				color: $white;
				padding: 10px 5px;
			}
		}
	}
}
