<ui-nav />
<ui-sections /> 



<!--  <div class="section section3">
    <div class="content">
        <h2>{{heading}}</h2>

        <div class="social--facebook">
            <div class="social--facebook__img"></div>
            <p></p>
        </div>

        <div class="social--instagram">
            <div class="social--instagram__img"></div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not</p>
        </div>

        <div class="social--twitter">
            <div class="social--twitter__img"></div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not</p>
        </div>
    </div>
</div>

<div class="section section4">
    <div class="content">
        <h2>{{heading}}</h2>
        <p>email: matt@mymillennials.co.uk</p>
        <p>tel: 07702235943</p>
        <p>twitter: @millenials_the</p>
        <p>instagram: @millenials_the</p>
        <p>facebook: www.facebook.com/millenials_the</p>
    </div>
</div> -->
